streamlit
# FACE RECOGNITION
scikit-learn
dlib-bin
face-recognition
git+https://github.com/ageitgey/face_recognition_models
setuptools<81

# DATABASE
supabase==2.15.3
bcrypt==4.1.3

# QR CODE
segno


# AUDIO / VOICE
librosa
resemblyzer
webrtcvad-wheels
